    <!--Foot Start-->
    <div class="FootPic W1000 Cf">
        <a target="_blank" href="http://www.buyfunds.cn/main/company" class="Fpic1"></a>
        <a target="_blank" href="http://www.csrc.gov.cn/" class="Fpic2"></a>
        <a target="_blank" href="http://www.amac.org.cn/" class="Fpic3"></a>
        <a target="_blank" href="http://www.cmbc.com.cn"  class="Fpic4"></a>
        <a target="_blank" href="http://www.amac.org.cn/" class="Fpic5"></a>
    </div>
    <div class="FootBg Cf">
         <div class="W1000 Footer Cf">
            <div class="Fl Cf">
                <p class="Fp1">武汉市江汉区武汉中央商务区泛海国际SOHO城第7幢23层1号4号</p>
                <p class="Fp1">全国统一客服热线：400 027 9899</p>
                <p class="Fp1">客服邮箱：4000279899@buyfunds.cn</p>
            </div>
            <div class="Fr Cf">
                <span class="FtC1"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Code1.png?v=20161121" />微信二维码</span>
                <span class="FtC2"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Code2.png?v=20161121" />伯嘉微博</span>
            </div>
            <p class="W1p Fp1 Fs1">基金销售业务资格证书[00000375]伯嘉基金网发布此信息目的在于传播更多信息,与本网站立场无关。伯嘉基金网不保证该信息(包含但不限于文字,数据及图表)全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。所载文字、数据仅供参考,使用前请核实,风险自负。投资有风险,交易需谨慎。</p>
            <p class="W1p Fp1 Tc">Copyright © 2004-<?php echo date('Y'); ?>    版权所有：武汉市伯嘉基金销售有限公司<span class="Ml1">鄂ICP备15010765号</span></p>
        </div>
    </div>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ca37d8139b4c447b527efb7274de023a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <!--Foot End-->