   <!--Top Start-->
    <div class="TopBg Cf">
        <div class="W1000 TopBx Cf">
            <div class="TopL Cf">
                <a href="http://www.cnfol.com" target="_blank" class="TopLk1 Ml0">中金在线</a>
                <a href="javascript:alert('加入收藏请使用Ctrl+D进行添加');" class="TopLk1">加入收藏</a>
                <div class="TopSd Cf"><!--未登录情况下显示此div-->
                    <a href="javascript:void(0);" class="TopLk1 Gt1">请登录</a>
                    <div class="TopSs TopHv1 Cf">
                        <div class="TLgB1"></div>
                        <a href="<?php echo TRADE_LOGIN_URL; ?>" class="TLgBtn1"></a>
                        <a href="<?php echo TRADE_REG_URL; ?>" class="TLgBtn2"></a>
                        <p>400-027-9899</p>
                        <span>服务时间：9:00-18:00（工作日）</span>
                    </div>
                </div>
                <!--登陆后显示用户名及退出按钮-->
                <!--<a href="javascript:;" class="TopLk1">xxxxxxxxxxxx@cnfol.com</a>
                <a href="javascript:;" class="TopLk1">退出登录</a>-->
            </div>
            <div class="TopR Cf">
                <a href="<?php echo TRADE_REG_URL ?>" target="_blank" class="TopLk1">免费开户</a>
                <div class="TopSd Cf">
                    <a href="javascript:void(0);" class="TopLk1 Gt1">基金交易</a>
                    <div class="TopSs TopHv2 Cf">
                        <a href="<?php echo TRADE_WEB_URL; ?>" target="_blank">我的资产</a>
                        <a href="javascript:;" target="_blank">基金定投</a>
                        <!--<a href="javascript:;" target="_blank">现金宝</a>-->
                        <a href="javascript:;" target="_blank">买基金</a>
                    </div>
                </div>
                <a href="javascript:;" target="_blank" class="TopLk1">自选基金</a>
                <a href="<?php echo WEB_ABOUT_US;?>" target="_blank" class="TopLk1">关于我们</a>
                <a href="<?php echo WEB_HELP; ?>" target="_blank" class="TopLk1 Mr0">帮助中心</a>
            </div>
        </div>
    </div>
    <!--Top End-->