    <div class="allCnt">
        <div class="qHead">
            <div class="headDes">
                <p><b>客服电话:</b><span>400-027-9899</span></p>
                <p>工作日：7:30-21:30 双休日：9:00-21:30</p>
            </div>
            <div class="qLogo">
                <a href="<?php echo WEB_URL;?>"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Logo.jpg" title="" /></a>
                <a href="<?php echo TRADE_LOGIN_URL;?>" class="logoTxt">登录</a>
                <span>
                    <a href="<?php echo WEB_HELP; ?>" target="_blank" class="TopLk1 Mr0">帮助中心</a>
                    <a href="<?php echo WEB_CONTACT_US;?>" target="_blank" class="TopLk1 Mr0">联系我们</a>
                </span>
            </div>
        </div>
    </div>