    <div class="allHead">
        <div class="allCnt">
            <div class="qHead">
                <div class="headDes">
                    <p>客服电话:<span>400-027-9899</span></p>
                    <p>工作日：7:30-21:30 双休日：9:00-21:30</p>
                </div>
                <div class="qLogo">
                    <a href="<?php echo WEB_URL; ?>"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Logo.jpg" title="" /></a>
                    <a href="<?php echo TRADE_REG_URL; ?>" class="logoTxt">免费开户</a>
                </div>
            </div>
        </div>
    </div>