<?php require_once(VIEWPATH . '/common/header.html');?>
<?php require_once(VIEWPATH . '/common/header_nav.html');?>
<?php require_once(VIEWPATH . '/common/banner.html');?>
<?php require_once(VIEWPATH . '/common/uc_nav.html');?>
    <div class="allCnt Mt20 Cf">
	<?php require_once(VIEWPATH . '/common/uc_sidebar.html');?> 
        <div class="aMain">
        	<h3 class="Title5">绑定手机号</h3>
            <h3 class="Title Tc Mt30">绑定手机号成功</h3>
            <div class="Mt30 Tc">
                <a href="<?php echo base_url();?>"  class="Ml25 halfBtn">返回我的账户</a>
            </div>
        </div>
    </div>
<?php require_once(VIEWPATH . '/common/footer.html');?>
    <script type="text/javascript" src="https://trade.buyfunds.cn/f=front/uc/Js/BjCenter/jquery-18.js,front/uc/Js/BjCenter/passGrad.js,front/uc/Js/BjCenter/BjFund.js?v=201612141605"></script>
    <script type="text/javascript">
		$('.MenuCnt').QTab();//菜单滑动效果
		
		var T = 10,Time;//T倒计时实际，Time倒计时计时器
		function codeClk(obj){//倒计时按钮点击事件
			$(obj).codeTime();//传递参数是为清空暂停计时器起参数为下一次计时器时长例如60s，不传参数为启动计时器开始倒计时
		}
		function nullTxt(obj,name){//空校验 仅供参考
			if($(obj).val() == ''){
				$(obj).showTip('Error',name+'不能为空');
			}else{
				$(obj).showTip('Right');
			}
		}
		function subForm(obj){
			var flag = true,arr = ['验证码']
			p = $(obj).parents('form'),
			inp = $(p).find('input');
			for(var i = 0; i < inp.length;i++){
				if($(inp).eq(i).val() == ''){
					flag = false;
					$(inp).eq(i).showTip('Error',arr[i]+'不能为空');
				}
			}
			if(flag){
				$(p).submit();
			}
		}
    </script>
</body>
</html>
