<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>买基金 - 铂嘉基金</title>
<link type="text/css" rel="stylesheet" href="https://trade.buyfunds.cn/f=front/uc/Css/BjCenter/Basis.css,front/uc/Css/BjCenter/PubStyle.css,front/uc/Css/BjCenter/BjFund.css?v=<?=time()?>" />
</head>

<body>
	<!--选择基金下拉选框 start-->
    <dl class="fund_suggest">
    	<dt>
        	<a class="CM" href="javascript:;">当前搜索</a>
            <a href="javascript:;">A</a>
            <a href="javascript:;">B</a>
            <a href="javascript:;">C</a>
            <a href="javascript:;">D</a>
            <a href="javascript:;">F</a>
            <a href="javascript:;">G</a>
            <a href="javascript:;">H</a>
            <a href="javascript:;">J</a>
            <a href="javascript:;">M</a>
            <a href="javascript:;">N</a>
            <a href="javascript:;">P</a>
            <a href="javascript:;">Q</a>
            <a href="javascript:;">R</a>
            <a href="javascript:;">S</a>
            <a href="javascript:;">T</a>
            <a href="javascript:;">W</a>
            <a href="javascript:;">X</a>
            <a href="javascript:;">Y</a>
            <a href="javascript:;">Z</a>
          <span>[关闭]</span>
        </dt>
        <dd class="Inp">
        	<p>请在搜索框内输入“<span>代码</span>”“<span>拼音</span>”或“<span>简称</span>”</p>
        </dd>
      	<dd class="Cf">
        	<a data-code='000001' href="javascript:;">安信永利信用A</a>
            <a data-code='000002' href="javascript:;">安信永利信用C</a>
            <a data-code='000003' href="javascript:;">安信鑫发优选混合</a>
            <a data-code='000004' href="javascript:;">安信价值精选股票</a>
            <a data-code='000005' href="javascript:;">安信现金增利</a>
            <a data-code='000006' href="javascript:;">安信消费医药股票</a>
            <a data-code='000007' href="javascript:;">安信动态策略混合A</a>
            <a data-code='000008' href="javascript:;">安信优势增长混合A</a>
            <a data-code='000009' href="javascript:;">安信稳健增值混合A</a>
            <a data-code='000010' href="javascript:;">安信稳健增值混合C</a>
            <a data-code='000011' href="javascript:;">安信鑫安得利混合A</a>
            <a data-code='000012' href="javascript:;">安信鑫安得利混合C</a>
            <a data-code='000013' href="javascript:;">安信新常态股票</a>
            <a data-code='000014' href="javascript:;">安信新动力混合A</a>
            <a data-code='000015' href="javascript:;">安信新动力混合C</a>
      	</dd>
        <dd class="Cf">
        	<a data-code='000016' href="javascript:;">博时安盈债券A</a>
            <a data-code='000017' href="javascript:;">博时安盈债券C</a>
            <a data-code='000018' href="javascript:;">博时灵活配置混合A</a>
            <a data-code='000019' href="javascript:;">博时岁岁增利一年定开债券</a>
            <a data-code='000020' href="javascript:;">博时裕益灵活配置宝盈核心优势混合C</a>
            <a data-code='000021' href="javascript:;">博时月月薪定期支付债券</a>
            <a data-code='000022' href="javascript:;">博时内需增长混合</a>
            <a data-code='000023' href="javascript:;">博时双月薪定期支付债券</a>
            <a data-code='000024' href="javascript:;">博时双债增强债券A</a>
            <a data-code='000025' href="javascript:;">博时双债增强债券C</a>
            <a data-code='000026' href="javascript:;">宝盈新价值混合</a>
            <a data-code='000027' href="javascript:;">宝盈祥瑞养老混合</a>
            <a data-code='000028' href="javascript:;">博时裕隆混合</a>
            <a data-code='000029' href="javascript:;">博时现金收益货币B</a>
            <a data-code='000030' href="javascript:;">宝盈科技30混合</a>
        </dd>
        <dd class="Cf">
       		<a data-code='000031' href="javascript:;">财通可持续混合</a>
            <a data-code='000032' href="javascript:;">长城久利保本混合</a>
            <a data-code='000033' href="javascript:;">财通可持续发展100长盛纯债债券A</a>
            <a data-code='000034' href="javascript:;">长盛纯债债券C</a>
            <a data-code='000035' href="javascript:;">长盛电子信息主题灵活配置混合</a>
            <a data-code='000036' href="javascript:;">长盛年年收益定期开放债券A</a>
            <a data-code='000037' href="javascript:;">长盛年年收益定期开放债券C</a>
            <a data-code='000038' href="javascript:;">长城增强收益定开债券A</a>
            <a data-code='000039' href="javascript:;">长城增强收益定开债券C</a>
            <a data-code='000040' href="javascript:;">长盛双月红定期债券A</a>
            <a data-code='000041' href="javascript:;">长盛双月红定期债券C</a>
            <a data-code='000042' href="javascript:;">长城稳固收益债券A</a>
            <a data-code='000043' href="javascript:;">长城稳固收益债券C</a>
            <a data-code='000044' href="javascript:;">长城医疗保健混</a>
        </dd>
        <dd class="Cf">
       		<a data-code='000045' href="javascript:;">大摩双利增强债券A</a>
            <a data-code='000046' href="javascript:;">大摩双利增强债券C</a>
            <a data-code='000047' href="javascript:;">大摩18个月定期开放债券</a>
            <a data-code='000048' href="javascript:;">大成景安短融债券A</a>
            <a data-code='000049' href="javascript:;">大成景安短融债券B</a>
            <a data-code='000050' href="javascript:;">大成景兴信用债债券A</a>
            <a data-code='000051' href="javascript:;">大成景兴信用债债券C</a>
            <a data-code='000052' href="javascript:;">大成景旭纯债A</a>
            <a data-code='000053' href="javascript:;">大成景旭纯债C</a>
            <a data-code='000054' href="javascript:;">德邦德利货币A</a>
        </dd>
        <dd class="Cf">
        	<a data-code='000055' href="javascript:;">富国宏观策略</a>
            <a data-code='000056' href="javascript:;">富国稳健增强债券A/B</a>
            <a data-code='000057' href="javascript:;">富国稳健增强债券A/B(后端)</a>
            <a data-code='000058' href="javascript:;">富国稳健增强债券C</a>
            <a data-code='000059' href="javascript:;">富国国有企业债债券A</a>
            <a data-code='000060' href="javascript:;">富国国有企业债债券A(后端)</a>
            <a data-code='000061' href="javascript:;">富国国有企业债C级</a>
            <a data-code='000062' href="javascript:;">富国量化沪深300(后端)</a>
            <a data-code='000063' href="javascript:;">富国通胀通缩主题轮动混合(后端)</a>
            <a data-code='000064' href="javascript:;">富国全球顶级消</a>
        </dd>
        <dd class="Cf">
       		<a data-code='000065' href="javascript:;">广发理财7天债券A</a>
            <a data-code='000066' href="javascript:;">广发理财7天债券B</a>
            <a data-code='000067' href="javascript:;">工银产业债A</a>
            <a data-code='000068' href="javascript:;">工银产业债B</a>
            <a data-code='000069' href="javascript:;">广发纳斯达克100指数美元现汇</a>
            <a data-code='000070' href="javascript:;">国联安保本混合国联安中证医药100</a>
            <a data-code='000071' href="javascript:;">国联安股债动态</a>
            <a data-code='000072' href="javascript:;">国富焦点驱动混合</a>
            <a data-code='000073' href="javascript:;">国投瑞银中高等</a>
        </dd>
        <dd class="Cf">
       		<a data-code='000074' href="javascript:;">华夏成长</a>
            <a data-code='000075' href="javascript:;">华夏成长(后端)</a>
            <a data-code='000076' href="javascript:;">华夏大盘精选</a>
            <a data-code='000077' href="javascript:;">华夏大盘精选(后端)</a>
            <a data-code='000078' href="javascript:;">华夏聚利债券</a>
            <a data-code='000079' href="javascript:;">华夏纯债债券A</a>
            <a data-code='000080' href="javascript:;">华夏纯债债券C</a>
            <a data-code='000081' href="javascript:;">华夏优势增长混合</a>
            <a data-code='000082' href="javascript:;">华富保本混合</a>
            <a data-code='000083' href="javascript:;">华夏复兴混合</a>
        </dd>
        <dd class="Cf">
        	<a data-code='000084' href="javascript:;">嘉实增强信用定期债券</a>
            <a data-code='000085' href="javascript:;">嘉实中证500ETF联接景顺长城品质投资混合</a>
            <a data-code='000086' href="javascript:;">嘉实美国成长股票嘉实美国成长股票现汇</a>
            <a data-code='000087' href="javascript:;">建信消费升级混合</a>
            <a data-code='000088' href="javascript:;">嘉实研究阿尔法股票</a>
            <a data-code='000089' href="javascript:;">嘉实中证金边国债ETF联接A</a>
            <a data-code='000090' href="javascript:;">嘉实中证金边国债ETF联接C</a>
            <a data-code='000091' href="javascript:;">建信安心回报债</a>
        </dd>
        <dd class="Cf">
        	<a data-code='000092' href="javascript:;">民生加银转债优选A</a>
            <a data-code='000093' href="javascript:;">民生加银转债优选C</a>
            <a data-code='000094' href="javascript:;">民生加银家盈理财月度A</a>
            <a data-code='000095' href="javascript:;">民生加银家盈理财月度B</a>
            <a data-code='000096' href="javascript:;">民生加银策略精选混合民生加银岁岁增利A</a>
            <a data-code='000097' href="javascript:;">民生加银岁岁增利C</a>
            <a data-code='000098' href="javascript:;">民生加银现金宝货币</a>
            <a data-code='000099' href="javascript:;">民生加银城镇化混合</a>
            <a data-code='000100' href="javascript:;">民生加银家盈理</a>
        </dd>
        <dd class="Cf">
       	    <a data-code='000101' href="javascript:;">南方中票A南方中票C</a>
            <a data-code='000102' href="javascript:;">农银高增长混合</a>
            <a data-code='000103' href="javascript:;">诺安鸿鑫保本混合</a>
            <a data-code='000104' href="javascript:;">南方稳利1年定期开放债券A</a>
            <a data-code='000105' href="javascript:;">农银行业领先混合</a>
            <a data-code='000106' href="javascript:;">诺安信用一年定开债券</a>
            <a data-code='000107' href="javascript:;">诺安泰鑫一年定期开放债券A</a>
            <a data-code='000108' href="javascript:;">诺安稳固收益一年定开债券</a>
            <a data-code='000109' href="javascript:;">农银区间收益混</a>
        </dd>
        <dd class="Cf">
            <a data-code='000110' href="javascript:;">鹏华国企债债券</a>
            <a data-code='000111' href="javascript:;">鹏华实业债纯债债券</a>
            <a data-code='000112' href="javascript:;">鹏华双债增利债券</a>
            <a data-code='000113' href="javascript:;">鹏华双债加利债券</a>
            <a data-code='000114' href="javascript:;">鹏华丰泰定期开放债券A</a>
            <a data-code='000115' href="javascript:;">鹏华全球高收益债</a>
            <a data-code='000116' href="javascript:;">鹏华丰信分级债券</a>
            <a data-code='000117' href="javascript:;">鹏华丰信分级债券A</a>
            <a data-code='000118' href="javascript:;">鹏华丰信分级债券B</a>
            <a data-code='000119' href="javascript:;">鹏华丰实定期开</a>
        </dd>
        <dd class="Cf">
            <a data-code='000120' href="javascript:;">前海开源事件驱动混合A</a>
            <a data-code='000121' href="javascript:;">前海开源可转债债券</a>
            <a data-code='000122' href="javascript:;">前海开源中证军工指数A</a>
            <a data-code='000123' href="javascript:;">前海开源沪深300指数</a>
            <a data-code='000124' href="javascript:;">前海开源新经济混合</a>
            <a data-code='000125' href="javascript:;">前海开源大海洋混合</a>
            <a data-code='000126' href="javascript:;">前海开源中国成长混合</a>
            <a data-code='000127' href="javascript:;">前海开源股息率100强股票</a>
            <a data-code='000128' href="javascript:;">前海开源睿远稳健增利混合A</a>
            <a data-code='000129' href="javascript:;">前海开源睿远稳</a>
        </dd>
        <dd class="Cf">
        	<a data-code='000130' href="javascript:;">融通通泰保本混合A</a>
            <a data-code='000131' href="javascript:;">融通通泽灵活配置混合</a>
            <a data-code='000132' href="javascript:;">融通通源短融债券A</a>
            <a data-code='000133' href="javascript:;">融通月月添利定开债券A</a>
            <a data-code='000134' href="javascript:;">融通月月添利定开债券B</a>
            <a data-code='000135' href="javascript:;">融通通瑞债券A/B</a>
            <a data-code='000136' href="javascript:;">诺安理财宝货币B</a>
            <a data-code='000137' href="javascript:;">诺安稳健回报灵活配置混合</a>
            <a data-code='000138' href="javascript:;">融通转型三动力灵活配置混合</a>
            <a data-code='000139' href="javascript:;">融通转型三动力</a>
        </dd>
        <dd class="Cf">
            <a data-code='000140' href="javascript:;">上投成长动力</a>
            <a data-code='000141' href="javascript:;">上投摩根天颐年丰混合A</a>
            <a data-code='000142' href="javascript:;">上投摩根红利回报混合A</a>
            <a data-code='000143' href="javascript:;">上投岁岁盈定开债券A</a>
            <a data-code='000144' href="javascript:;">上投岁岁盈定开债券C</a>
            <a data-code='000145' href="javascript:;">上投摩根转型动力</a>
            <a data-code='000146' href="javascript:;">上投双债增利A</a>
            <a data-code='000147' href="javascript:;">上投双债增利C</a>
            <a data-code='000148' href="javascript:;">上投摩根核心成长</a>
            <a data-code='000149' href="javascript:;">上银新兴价值成</a>
        </dd>
        <dd class="Cf">
            <a data-code='000150' href="javascript:;">泰达信用合利债券A</a>
            <a data-code='000151' href="javascript:;">泰达信用合利债券B</a>
            <a data-code='000152' href="javascript:;">天治可转债A天治可转债C</a>
            <a data-code='000153' href="javascript:;">泰达收益增强债券A</a>
            <a data-code='000154' href="javascript:;">泰达收益增强债券B</a>
            <a data-code='000155' href="javascript:;">天弘余额宝货币</a>
            <a data-code='000156' href="javascript:;">泰信鑫益定期开放债券A</a>
            <a data-code='000157' href="javascript:;">泰信鑫益定期开放债券C</a>
            <a data-code='000158' href="javascript:;">天弘稳利定期开</a>
        </dd>
        <dd class="Cf">
            <a data-code='000159' href="javascript:;">万家货币E万家现金宝</a>
            <a data-code='000160' href="javascript:;">万家瑞丰灵活配置混合A</a>
            <a data-code='000161' href="javascript:;">万家瑞丰灵活配置混合C</a>
            <a data-code='000162' href="javascript:;">万家瑞兴</a>
            <a data-code='000163' href="javascript:;">万家瑞富灵活配置混合</a>
            <a data-code='000164' href="javascript:;">万家瑞祥混合A</a>
            <a data-code='000165' href="javascript:;">万家瑞祥混合C</a>
            <a data-code='000166' href="javascript:;">万家瑞益灵活配置混合A</a>
            <a data-code='000167' href="javascript:;">万家瑞益灵活配</a>
        </dd>
        <dd class="Cf">
            <a data-code='000168' href="javascript:;">信诚新双盈分级债券</a>
            <a data-code='000169' href="javascript:;">信诚新双盈分级债券A</a>
            <a data-code='000170' href="javascript:;">信诚新双盈分级债券B</a>
            <a data-code='000171' href="javascript:;">信诚新兴产业混合</a>
            <a data-code='000172' href="javascript:;">信诚季季定期支付</a>
            <a data-code='000173' href="javascript:;">债券信诚年年有余A</a>
            <a data-code='000174' href="javascript:;">信诚年年有余B</a>
            <a data-code='000175' href="javascript:;">信诚月月支付</a>
            <a data-code='000176' href="javascript:;">新华壹诺宝货币A</a>
            <a data-code='000177' href="javascript:;">信诚惠报债券A</a>
        </dd>
        <dd class="Cf">
            <a data-code='000178' href="javascript:;">易方达天天理财货币A</a>
            <a data-code='000179' href="javascript:;">易方达天天理财货币B</a>
            <a data-code='000180' href="javascript:;">易方达天天理财货币R</a>
            <a data-code='000181' href="javascript:;">易方达信用债债券A</a>
            <a data-code='000182' href="javascript:;">易方达信用债债券C</a>
            <a data-code='000183' href="javascript:;">银华量化智慧动力混合</a>
            <a data-code='000184' href="javascript:;">易方达纯债1年定开债券A</a>
            <a data-code='000185' href="javascript:;">易方达纯债1年定开债券C</a>
            <a data-code='000186' href="javascript:;">易方达高等级信用债A</a>
            <a data-code='000187' href="javascript:;">易方达高等级信</a>
        </dd>
        <dd class="Cf">
            <a data-code='000188' href="javascript:;">中海可转债A</a>
            <a data-code='000189' href="javascript:;">中海可转债C</a>
            <a data-code='000190' href="javascript:;">中银标普全球资源等权重指数</a>
            <a data-code='000191' href="javascript:;">中银消费主题混合</a>
            <a data-code='000192' href="javascript:;">中银美丽</a>
            <a data-code='000193' href="javascript:;">中国混合招商安润保本混合</a>
            <a data-code='000194' href="javascript:;">中海安鑫保本</a>
            <a data-code='000198' href="javascript:;">中银新回报灵活配置混合</a>
            <a data-code='000196' href="javascript:;">中邮定期开放债券A</a>
            <a data-code='000197' href="javascript:;">中邮定期开放债</a>
        </dd>
    </dl>
    <!--选择基金下拉选框 end-->
   <!--Top Start-->
    <div class="TopBg Cf">
        <div class="W1000 TopBx Cf">
            <div class="TopL Cf">
                <a href="http://www.cnfol.com" target="_blank" class="TopLk1 Ml0">中金在线</a>
                <a href="javascript:alert('加入收藏请使用Ctrl+D进行添加');" class="TopLk1">加入收藏</a>
                <div class="TopSd Cf"><!--未登录情况下显示此div-->
                    <a href="javascript:void(0);" class="TopLk1 Gt1">请登录</a>
                    <div class="TopSs TopHv1 Cf">
                        <div class="TLgB1"></div>
                        <a href="#" class="TLgBtn1"></a>
                        <a href="#" class="TLgBtn2"></a>
                        <p>400-027-9899</p>
                        <span>服务时间：9:00-18:00（工作日）</span>
                    </div>
                </div>
                <!--登陆后显示用户名及退出按钮-->
                <!--<a href="#" class="TopLk1">xxxxxxxxxxxx@cnfol.com</a>
                <a href="#" class="TopLk1">退出登录</a>-->
            </div>
            <div class="TopR Cf">
                <a href="#" target="_blank" class="TopLk1">免费开户</a>
                <div class="TopSd Cf">
                    <a href="javascript:void(0);" class="TopLk1 Gt1">基金交易</a>
                    <div class="TopSs TopHv2 Cf">
                        <a href="#" target="_blank">我的资产</a>
                        <a href="#" target="_blank">基金定投</a>
                        <a href="#" target="_blank">现金宝</a>
                        <a href="#" target="_blank">基金产品</a>
                    </div>
                </div>
                <a href="#" target="_blank" class="TopLk1">自选基金</a>
                <a href="#" target="_blank" class="TopLk1">关于我们</a>
                <a href="#" target="_blank" class="TopLk1 Mr0">帮助中心</a>
            </div>
        </div>
    </div>
    <!--Top End-->
    <div class="allCnt">
        <div class="qHead">
            <div class="headDes">
                <p>客服电话:<span>400-027-9899</span></p>
                <p>工作日：7:30-21:30 双休日：9:00-21:30</p>
            </div>
            <div class="qLogo">
                <a href="#"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Logo.jpg" title="" /></a>
            </div>
        </div>
    </div>
    <div class="uMenu">
    	<dl class="MenuCnt">
        	<dt>
            	<a href="#" target="_blank">我的帐户</a>
                <a href="#" target="_blank">现金宝</a>
                <a href="#" target="_blank" class="CM">基金产品</a>
                <a href="#" target="_blank">基金定投</a>
                <a href="#" target="_blank">交易查询</a>
            </dt>
            <dd>
            	<a href="#" target="_blank">我的资产</a>
                <a href="#" target="_blank">持仓明细</a>
                <a href="#" target="_blank">修个密码</a>
                <a href="#" target="_blank">个人信息管理</a>
                <a href="#" target="_blank">银行卡管理</a>
                <a href="#" target="_blank">风险测评</a>
            </dd>
            <dd>
            	<a href="#" target="_blank">首页</a>
                <a href="#" target="_blank">充值</a>
                <a href="#" target="_blank">取现</a>
                <a href="#" target="_blank">定期充值</a>
                <a href="#" target="_blank">买基金</a>
                <a href="#" target="_blank">基金定互转</a>
                <a href="#" target="_blank">撤单</a>
                <a href="#" target="_blank">交易查询</a>
            </dd>
            <dd>
            	<a href="#" target="_blank">首页</a>
                <a href="#" target="_blank">基金排行</a>
                <a href="#" target="_blank" class="AC">买基金</a>
                <a href="#" target="_blank">卖基金</a>
                <a href="#" target="_blank">基金转换</a>
                <a href="#" target="_blank">修改分红方式</a>
                <a href="#" target="_blank">撤单</a>
            </dd>
            <dd class="Tc">
            	<a href="#" target="_blank">我的定投</a>
                <a href="#" target="_blank">新增定投</a>
                <a href="#" target="_blank">撤单</a>
                <a href="#" target="_blank">定投终止记录</a>
            </dd>
            <dd class="Tc">
            	<a href="#" target="_blank">现金宝交易查询</a>
                <a href="#" target="_blank">基金交易查询</a>
                <a href="#" target="_blank">我的对账单</a>
                <a href="#" target="_blank">操作日志</a>
            </dd>
        </dl>
    </div>

    <div class="allCnt Mt20 Cf">
    	<div class="mSide">
        	<h3 class="sideTitle">快速通道</h3>
            <div class="sideMenu">
            	<a href="#" target="_blank">我的资产</a>
                <a href="#" target="_blank">持仓明细</a>
                <a href="#" target="_blank">现金宝</a>
                <a href="#" target="_blank">伯嘉精选</a>
                <a href="#" target="_blank">券商理财</a>
                <a href="#" target="_blank">热销基金</a>
                <a href="#" target="_blank">基金排行</a>
                <a href="#" target="_blank" class="AC">买基金</a>
                <a href="#" target="_blank">卖基金</a>
                <a href="#" target="_blank">买新基金</a>
                <a href="#" target="_blank">自选基金</a>
                <a href="#" target="_blank">基金定投</a>
                <a href="#" target="_blank">基金转换</a>
                <a href="#" target="_blank">交易撤单</a>
                <a href="#" target="_blank">交易查询</a>
                <a href="#" target="_blank">分红设置</a>
            </div>
        </div>
        <div class="aMain">
        	<h3 class="Title5">买基金</h3>
            <h3 class="Title1">如果您在接近15点发起申认购申请，系统有可能在15点后收到银行扣款成功通知，则该笔交易将被视为下一工作日申请，请注意风险。</h3>
            <div class="qstepBar Mt25">
                <a href="#" class="Cur">买基金</a>
                <a href="#">预览付款</a>
                <a href="#">申请受理</a>
            </div>
            <form class="Mt15">
            	<div class="formLi">
                	<b class="bankPre"><i>*</i>选择购买基金：</b>
                    <span class="fundInp"><input value="请输入基金代码或简称" class="w340" autocomplete="off" onBlur="fundBlur(this);" type="text"><b></b></span>
            		<em></em>
                </div>
                <div class="fundDes">
                	<p>
                    	<b class="bankPre">基金名称：</b>
                    	<a href="#" class="blue" target="_blank">安庆新价值混合C</a>
                    </p>
                    <p>
                    	<b class="bankPre">基金信息：</b>
                        <span>混合型</span>
                        <span>中高风险等级</span>
                        <span>前端收费</span>
                        <span>  分红方式：现金分红</span>
                    </p>
                </div>
                <div class="formLi">
                    <b class="bankPre"><i>*</i>购买金额：</b>
                    <span><input type="text" value="" onBlur="crashInp(this);" class="money w310"/></span>
                    <b class="eMl7">元</b>
                    <em></em>
                </div>
                <p class="formTip">购买金额不能低于<i number="1000">1000</i>元，日累计限额<i number="200000">20万</i>元</p>
                <div class="formLi">
                    <b class="bankPre"><i>*</i>大小金额：</b>
                    <b class="Capital"></b>
                </div>
                <div class="payStyle">
                	<b class="bankPre"><i>*</i>请选择支付方式：</b>
                    <div class="payLi">
                        <h3>现金支付</h3>
                        <span class="uRadio paySlt">
                            现金余额2000元<i><input type="radio" onClick="payRadio(this);" value="" name="bank"></i>
                        </span>
                    </div>
                    <div class="payLi">
                        <h3>银行卡支付</h3>
                        <span class="uRadio paySlt">
                            <i><input type="radio" value="" onClick="payRadio(this);" name="bank"></i>
                            
                        </span>
                        <span class="FormSlt">
                            <select>
                                <option>中国民生银行（62262215****2340）</option>
                                <option>中国农业银行（62220017****2110）</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="formP">
                	<b class="bankPre">申购费率：</b><b id="FeiLv">--</b>
                </div>
                <div class="formP">
                	<b class="bankPre">估算手续费：</b><b id="ShouXF">--</b>
                </div>
                <div class="Mt10 Tc">
                	<a href="javascript:;" onClick="subForm(this);" class="halfBtn">下一步</a>
                </div>
            </form>
            <div class="Explain">
            	<h3>说明：</h3>
                <p>1、我们将 24 小时受理您的交易申请。您交易日的交易申请至 15:00 截止， 15:00 以后的交易申请或非交易日的交易申请视为于下一个交易日提交。您最终申请提交时间以我司注册登记中心接收时间为准。</p>
                <p>2、由于客户端系统时间与服务器时间可能有误差，请尽量避免在交易截止时间前后进行交易，交易提交时间以本系统服务器时间为准。如因网络原因或网银系统故障，导致划款成功指令未传递到本系统的，我们会在交易日结束后通过银行对账，确认交易成功，15：00前的交易申请将视为当日的申请。</p>
                <p>3、基金的申购、赎回交易均遵循“未知价”交易原则，即您申购、赎回基金时都按提交业务申请当天的净值计算，而每天的净值是在交易结束后计算出来的，也就是说您在提交交易申请时不知道交易的价格。因此您所看到的基金净值，为该基金上一交易日的基金净值，而非基金申购成交时的基金净值。</p>
            </div>
        </div>
    </div>
    
    <!--Foot Start-->
<?php require_once(VIEWPATH . '/common/footer.html');?>
	<!--弹窗提示-->
    <div class="qMask"></div>
    <div class="qWin" id="msgBox">
   		<h3><span>提示信息</span><i  class="qCls"></i></h3>
        <div class="qWmess">
        	<p>您当前选择的基金风险等级为<span class="red">【中等风险等级】</span>不符合您的风险承受等级，详情请见<a href="#" class="blue">《基金销售适用性规则》</a>是否确认购买</p>
        </div>
        <div class="qWbtn">
        	<a href="javascript:;" onClick="testCkl()" class="redBtn Mr15">确定</a>
            <a href="javascript:;" onClick="testCkl()" class="cyanBtn">取消</a>
        </div>
    </div>
    <!--Foot End-->
    <script type="text/javascript" src="https://trade.buyfunds.cn/f=front/uc/Js/BjCenter/jquery-18.js,front/uc/Js/BjCenter/passGrad.js,front/uc/Js/BjCenter/BjFund.js?v=201612121358"></script>
    <script type="text/javascript">
		$('.MenuCnt').QTab();//菜单滑动效果
		$('.uRadio').uRadio();/*单选框美化*/
		$('.FormSlt').uSelect();/*select美化*/
		
		$('.money').inpCash();//现金输入金额限制，大小写关联
		
		function crashInp(obj){//现金输入
			var p = $(obj).parents('.formLi'),
			tip = $(p).next().find('i'),
			numStr = $(obj).val(),
			Min = parseFloat($(tip).eq(0).attr('number')),
			Max = parseFloat($(tip).eq(1).attr('number'));
			if(numStr == ''){
				$(obj).showTip('Error','不能为空!');
			}else{
				var num = parseFloat(numStr);
				if(num < Min){
					$(obj).showTip('Error','购买金额不能小于'+Min);
				}else if(num > Max){
					$(obj).showTip('Error','购买金额不能超过日累计限额'+Max);
				}else{
					$(obj).showTip('Right')
				}
			}			
		}
		function payRadio(obj){//单选框点击事件 支付方式
			var p = $(obj).parents('.payStyle'),
			_this = $(obj).parents('.payLi');
			$(_this).addClass('curPay').siblings('.payLi').removeClass('curPay');
			/*更改费率 手续费 具体请程序员自行修改 一下仅供参考*/
			$('#FeiLv').html('0费率');
			$('#ShouXF').html('0.00元');
		}
		
		function subForm(obj){
			var flag = true,
			form = $(obj).parents('form'),
			inps = $(form).find('input:text');
			for(i = 0; i < 2; i++){
                var str = $(inps).eq(i).val();
				if(str == ''){
					flag = false;
					$(inps).eq(i).showTip('Error','不能为空');
				}
            }
			if(flag){
				$('#msgBox').showWin('<p>您当前选择的基金风险等级为<span class="red">【中等风险等级】</span>不符合您的风险承受等级，详情请见<a href="#" class="blue">《基金销售适用性规则》</a></p><p>是否确认购买?</p>','风险提示');
			}
		}
		
		/*选择基金js====================================*/
		function fundBlur(obj){
			var jjId = $(obj).val();
			if(jjId == ''){
				$(obj).val('请输入基金代码或简称');
				$(obj).showTip('Error','不能为空');
				$('.fundDes').css('display','none');
				//$('.fund_suggest').css('display','none');
			}else{
				$.ajax({
					url:"https://trade.buyfunds.cn/trade/ajax.html",
					type:'post',
					data:'order='+1,
					dataType:'json',
					success: function(d){
						/*ajax 获取输入框输入基金代码相关内容 以表格形式输出*/
						if(d){//当输入框内容能取到相应基金时 显示基金相关细心
						
							/*显示基金名称及基本信息 内容替换请程序员自行编写*/
							$('.fundDes').css('display','block');//显示选择基金基本信息的模块
							$(obj).showTip('Right');						
						}else{
							$(obj).showTip('Error','请输入正确的基金代码');
							$('.fundDes').css('display','none');
						}
						
						//$('.fund_suggest').css('display','none');
					}
				});
			}
		}
		$('.fundInp').Fund({
			number:2,//下拉按钮点击展示选项卡变化 从0开始计算 （默认显示1即A标签页 即不设置此项时）
			keyup:function(o,fn){//输入框键盘事件,o为单曲input
				var code = $(o).val(),
				box = $('.Inp'),
				html = '<table cellspacing="0" cellpadding="0"><thead><tr><th>选项</th><th>代码</th><th>类型</th><th>简称</th></tr></thead><tbody>';
				for(var i = 0; i < 5; i++){
					html = html + '<tr data-code="000'+i+'"><td><span>'+code+'<span>'+i+'</td><td>00000'+i+'</td><td>我是输入'+i+'</td><td>测试'+i+'</td></tr>';
					}
					html = html + '<tbody></table>';
					$(box).html(html);
					if(typeof fn == 'function'){
						fn();
					}
				
			},
			click:function(o){//dd内a标签点事件 表格tr的点击事件
				$(o).parents('.fund_suggest').css('display','none');
				
				/*显示基金名称及基本信息 内容替换请程序员自行编写*/
				$('.fundDes').css('display','block');//显示选择基金基本信息的模块
				//alert($(o).html())
			}
		});
    </script>
</body>
</html>
