<?php require_once(VIEWPATH . '/common/header.html');?>
<?php require_once(VIEWPATH . '/common/header_nav.html');?>
<?php require_once(VIEWPATH . '/common/banner.html');?>
<?php require_once(VIEWPATH . '/common/uc_nav.html');?>

    <div class="allCnt Mt20 Cf">
    <?php require_once(VIEWPATH . '/common/uc_sidebar.html');?>
        <div class="aMain">
        	<h3 class="Title5">基金定投恢复</h3>
            <div class="qstepBar Mt10">
                <a href="javascript:;">基金定投</a>
                <a href="javascript:;" class="Cur">预览定投计划</a>
                <a href="javascript:;">申请受理</a>
            </div>
            <form class="tablePre Mt15" action="<?php echo base_url(); ?>fix/new_result.html" method="post">
            	<h3 class="Title4">请确认定期充值信息</h3>
                <table cellpadding="0" cellspacing="0" class="mTable">
                    <tbody>
                        <tr>
                            <td class="tdGray">基金名称</td>
                            <td><?php echo $data['name'],' (',$data['code'],')'; ?></td>
                        </tr>
                        <tr>
                            <td class="tdGray">支付方式</td>
                            <td><?php echo $data['bankinfo']; ?></td>
                        </tr>
                        <tr>
                            <td class="tdGray">定期充值方式</td>
                            <td>定期定额</td>
                        </tr>
                        <tr>
                            <td class="tdGray">充值周期</td>
                            <td>每<?php echo $data['period_unit']; ?></td>
                        </tr>
                        <tr>
                            <td class="tdGray">充值日期</td>
                            <td><?php echo $data['fix_day']; ?>日</td>
                        </tr>
                        <tr>
                            <td class="tdGray">每期充值金额</td>
                            <td><?php echo $data['balance']; ?>元</td>
                        </tr>
                        <tr>
                            <td class="tdGray">大写金额</td>
                            <td><?php echo $data['rmb']; ?></td>
                        </tr>
                    </tbody>
                </table>

                <div class="formLi Mt10">
                    <b class="bankPre"><i>*</i>请输入交易密码：</b>
                    <span><input type="password" name="password" onBlur="passInp(this)" value="" class="w340"></span>
                    <b class="eMl7"><a href="<?php echo TRADE_TRPWD_URL; ?>" target="_blank" class="blue">忘记交易密码?</a></b>
                    <em></em>
                </div>
                <p class="formTip">请输入伯嘉基金网交易密码，非银行卡密码。</p>
                <div class="btnPre Mt30">
                    <a href="javascript:;" onClick="subForm(this);" class="halfBtn">确认</a>
                    <a href="<?php echo base_url(); ?>fix/stop.html" class="navyBtn">返回上一页</a>
                </div>
                <input type="hidden" name="fund_name" value="<?php echo $data['name']; ?>">
                <input type="hidden" name="fund_code" value="<?php echo $data['code']; ?>">
                <input type="hidden" name="acco_info" value="<?php echo $data['bankinfo'];?>">
                <input type="hidden" name="trade_acco" value="<?php echo $data['trade_acco'];?>">
                <input type="hidden" name="bank_account" value="<?php echo $data['bank_account'];?>">
                <input type="hidden" name="period" value="<?php echo $data['protocol_period_unit'];?>">
                <input type="hidden" name="fixday" value="<?php echo $data['fix_day']; ?>">
                <input type="hidden" name="balance" value="<?php echo $data['balance']; ?>">
                <input type="hidden" name="id" value="<?php echo isset($data['id']) ? $data['id'] : ''; ?>">
            </form>
        </div>
</div>
    
    <!--Foot Start-->
<?php require_once(VIEWPATH . '/common/footer.html');?>
    <!--Foot End-->
    <script type="text/javascript" src="https://trade.buyfunds.cn/f=front/uc/Js/BjCenter/jquery-18.js,front/uc/Js/BjCenter/passGrad.js,front/uc/Js/BjCenter/BjFund.js?v=201612271635"></script>
    <script type="text/javascript">
		$('.MenuCnt').QTab();//菜单滑动效果
		function passInp(obj){//密码输入框空判断
			var str = $(obj).val();
			if(str == ''){
				$(obj).showTip('Error','不能为空');
			}else{
				$(obj).showTip('Right');
			}
		}
		function subForm(obj){//表单提交按钮点击事件 仅供参考
			var flag = true,
			p = $(obj).parents('form'),
			inp = $(p).find('input'),
			str = $(inp).val();
			if(str == ''){
				flag = false;
				$(inp).showTip('Error','不能为空');
			}
			if(flag){
				p.submit();
			}
		}
    </script>
