<?php require_once(VIEWPATH . '/common/header.html');?>
<?php require_once(VIEWPATH . '/common/login_nav.html');?>
<?php require_once(VIEWPATH . '/common/back_pwd_banner.html');?>
    <div class="allCnt Mt20">
        <div class="qstepBar">
            <a href="#" class="Cur">身份验证</a>
            <a href="#">设置新密码</a>
            <a href="#">设置成功</a>
        </div>
        <form class="formPre Mt25" id="form1" action="<?php echo $regUrl; ?>/ajaxBkpwdAction" method="post">
        	<div class="formLi">
            	<b class="bankPre"><i>*</i>手机号码：</b>
                <span><input type="text" id="regMobile" name="mobile" value="" onBlur="telWin(this);" class="tel w340" /></span>
                <em id="mobileError"></em>
            </div>
            <div class="formLi">
            	<b class="bankPre"><i>*</i>图片验证码：</b>
                <span><input type="text" id="pCode" name="pCode" value=""  class="w160" /></span>
                <a href="javascript:;" onclick="javascript:getcode(1);" class="codeImg"><img id="verifyCode" src="" title=""></a>
                <em id="pCodeError"></em>
            </div>
            <div class="formLi">
            	<b class="bankPre"><i>*</i>短信验证码：</b>
                <span><input maxlength='8' id="mCode" type="text" value=""  class="w160"/></span>
                <a href="javascript:;" onClick="getMobileCode();" id="scBtn" class="codeBtn">获取短信验证</a>
                <em id="mCodeError"></em>
            </div>
            <div class="btnCnt Mt10">
                <input id="codeID" class="codeID" type="hidden">
                <input id="codeIDX" class="codeIDX" type="hidden">
                <input id="tstr" class="tstr" type="hidden">
                <input id="tstr2" class="tstr2" type="hidden">
                <input id="vstr" class="vstr" type="hidden">
                <input id="vstr2" class="vstr2" type="hidden">

                <input id="uid" class="uid" type="hidden">
                <a href="javascript:;" onClick="subForm(this);" class="halfBtn">下一步</a>
            </div>
        </form>
    </div>

    <!--弹窗开始-->
    <div class="qMask"></div>
    <div class="qWin" id="msgBox">
        <h3><span>提示信息</span><i  class="qCls"></i></h3>
        <div class="qWmess">
            <p style="font-size:20px;">你已经输入密码错误四次，再次输入错误，30分钟内禁止登录本站</p>
        </div>
        <div class="qWbtn">
            <a href="javascript:;" class="redBtn">确定</a>
        </div>
    </div>
    
    <!--Foot Start-->
    <?php require_once(VIEWPATH . '/common/footer.html');?>
    <!--Foot End-->
    <script type="text/javascript" src="https://trade.buyfunds.cn/f=front/uc/Js/BjCenter/jquery-18.js,front/uc/Js/BjCenter/passGrad.js,front/uc/Js/BjCenter/BjFund.js,front/buy/js/common.js"></script>
    <script type="text/javascript">
		var T = 10,Time;//T倒计时实际，Time倒计时计时器
		function codeClk(obj){//倒计时按钮点击事件
			$(obj).codeTime();//传递参数是为清空暂停计时器起参数为下一次计时器时长例如60s，不传参数为启动计时器开始倒计时
		}
		$('.tel').inpTel();/*电话号码格式验证*/

		function nullTxt(obj,name){//空校验 仅供参考
			if($(obj).val() == ''){
				$(obj).showTip('Error',name+'不能为空');
			}else{
				$(obj).showTip('Right');
			}
		}

        function telWin(obj){  //电话弹窗提示示例 具体提示请程序根据时间操作进行
            var str = $(obj).val();
            if(!(toolTest.IsPhoneNum(str))){
                $('#mobileError').showTip('Error', '请输入正确的手机号！');
                return false;
            } else {
                $('#mobileError').showTip('Right', '');
            }
        }

		function subForm(){//表单提交按钮点击事件
            var flag=true;

            var regMobile = $('#regMobile').val();
            var mCode = $('#mCode').val();
            var pCode = $('#pCode').val();
            var tstr = $('#tstr2').val();
            var vstr = $('#vstr2').val();
            var uid = $('#uid').val();
            //空值校验
            if(mCode=='' || pCode==''){
                nullTxt('#pCode','图片验证码');
                nullTxt('#mCode','短信验证码');
                return false;
            }


            if(!(toolTest.IsPhoneNum(regMobile))){
                $('#mobileError').showTip('Error', '请输入正确的手机号！');
                return false;
            }
            $('#mobileError').showTip('Right', '');

            if(!(toolTest.ValPicCode(pCode))){
                $('#pCodeError').showTip('Error', '请输入正确的图片验证码！');
                return false;
            }
            $('#pCodeError').showTip('Right', '');
            if(!(toolTest.ValMsgCode(mCode))){
                $('#mCodeError').showTip('Error', '请输入正确的短信验证码！');
                return false;
            }
            $('#mCodeError').showTip('Right', '');
			if(flag){
                $.ajax({
                    url:  "<?php echo $regUrl; ?>/ajaxBkpwdAction",
                    cache:false,
                    type: 'post',
                    dataType: 'json',
                    data: 'tid=<?php echo $tid; ?>&kid=<?php echo $ckid; ?>&type=2&mobile=' + regMobile + '&pcode='+pCode + '&mcode='+mCode + '&tstr='+tstr + '&vstr='+vstr + '&uid='+uid,
                    success : function(minfo){
                        if(minfo.flag==10022){
                            window.location.href=minfo.URL;
                        }else{
                            $('#msgBox').showWin('<p>'+minfo.msg+'</p>');
                        }
                        return false;
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $('#regBtn').removeClass('disClick');
                        $('#msgBox').showWin('<p>'+'数据提交失败，请重新提交！'+'</p>');
                        return;
                    }
                });
			}
		}
        //图片验证码
        getcode(0);
        function getcode(ischange){
            $.ajax({
                url:  "<?php echo $verifyCodeUrl; ?>",
                cache:false,
                type: 'post',
                dataType: 'json',
                data: 'action=ajaxGetCode&tid=<?php echo $tid; ?>&kid=<?php echo $ckid; ?>&type=2',
                success : function(minfo){
                    if(minfo.flag == '10000'){
                        $('#verifyCode').attr('src','<?php echo $verifyCodeShowUrl; ?>?tid=<?php echo $tid; ?>&kid=<?php echo $ckid; ?>&type=2&tstr=' + minfo.info['tstr']+'&vstr=' + minfo.info['vstr']+'&vstrx='+ minfo.info['x']);
                        $('#verifyCode').attr('style','display:inline-block;cursor:pointer;');
                        $('#tstr').val(minfo.info['tstr']);
                        $('#codeID').val(minfo.info['vstr']);
                        $('#codeIDX').val(minfo.info['x']);
                        if (ischange) {
                            $('.codeInput').attr('disabled', false);
                        }
                    } else {
                        $('#msgBox').showWin('<p>'+minfo.msg+'</p>');
                        return false;
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $('#msgBox').showWin('<p>'+'数据提交失败，请重新提交！'+'</p>');
                    return;
                }
            });
        }
        var T = 180;
        //获得短信验证码
        function getMobileCode(){
            if($('#scBtn').hasClass('Time')){
                return false;
            }

            var regMobile = $('#regMobile').val();
            var pCode = $('#pCode').val();
            var codeID = $('#codeID').val();
            var codeIDX = $('#codeIDX').val();
            var tstr = $('#tstr').val();

            if(!(toolTest.IsPhoneNum(regMobile))){
                $('#mobileError').showTip('Error', '请输入正确的手机号！');
                return false;
            }
            $('#mobileError').showTip('Right', '');

            if(!(toolTest.ValPicCode(pCode))){
                $('#pCodeError').showTip('Error', '请输入正确的图片验证码！');
                return false;
            }

            $('#pCodeError').showTip('Right', '');
            if(!codeIDX || !codeID || !tstr){
                $('#msgBox').showWin('<p>验证码信息有误，请刷新页面重试！</p>');
                return false;
            }

             if($('#scBtn').hasClass('disClick')){
                $('#msgBox').showWin('<p>请求已提交，请耐心等待！</p>');
                return false;
            }
            $('#scBtn').addClass('disClick');
            $.ajax({
                url:  "<?php echo $regUrl; ?>/getMobileCode",
                cache:false,
                type: 'post',
                dataType: 'json',
                data: 'tid=<?php echo $tid; ?>&kid=<?php echo $ckid; ?>&type=2&mobile=' + regMobile + '&pcode='+pCode + '&codeid='+codeID + '&codeidx='+codeIDX+ '&tstr='+tstr,
                success : function(minfo){
                    $('#scBtn').removeClass('disClick');
                    if(minfo.flag == '10000'){
                        $('#tstr2').val(minfo.info['tstr']);
                        $('#vstr2').val(minfo.info['vstr']);
                        $('#uid').val(minfo.info['uid']);
                        countDown(180, '#scBtn');

                    } else if(minfo.flag == '10301'){
                        $('#pCodeError').showTip('Error', minfo.msg);
                    } else {
                        $('#msgBox').showWin('<p>'+minfo.msg+'</p>');
                        return false;
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $('#scBtn').removeClass('disClick');
                    $('#msgBox').showWin('<p>'+'数据提交失败，请重新提交！'+'</p>');

                    return;
                }
            });
        }


    </script>
</body>
</html>
