<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人信息管理 - 伯嘉基金</title>
<link type="text/css" rel="stylesheet" href="https://trade.buyfunds.cn/f=front/uc/Css/BjCenter/Basis.css,front/uc/Css/BjCenter/PubStyle.css,front/uc/Css/BjCenter/BjFund.css?v=20161215163056" />
</head>

<body>
   <!--Top Start-->
    <div class="TopBg Cf">
        <div class="W1000 TopBx Cf">
            <div class="TopL Cf">
                <a href="http://www.cnfol.com" target="_blank" class="TopLk1 Ml0">中金在线</a>
                <a href="javascript:alert('加入收藏请使用Ctrl+D进行添加');" class="TopLk1">加入收藏</a>
                <div class="TopSd Cf"><!--未登录情况下显示此div-->
                    <a href="javascript:void(0);" class="TopLk1 Gt1">请登录</a>
                    <div class="TopSs TopHv1 Cf">
                        <div class="TLgB1"></div>
                        <a href="#" class="TLgBtn1"></a>
                        <a href="#" class="TLgBtn2"></a>
                        <p>400-027-9899</p>
                        <span>服务时间：9:00-18:00（工作日）</span>
                    </div>
                </div>
                <!--登陆后显示用户名及退出按钮-->
                <!--<a href="#" class="TopLk1">xxxxxxxxxxxx@cnfol.com</a>
                <a href="#" class="TopLk1">退出登录</a>-->
            </div>
            <div class="TopR Cf">
                <a href="#" target="_blank" class="TopLk1">免费开户</a>
                <div class="TopSd Cf">
                    <a href="javascript:void(0);" class="TopLk1 Gt1">基金交易</a>
                    <div class="TopSs TopHv2 Cf">
                        <a href="#" target="_blank">我的资产</a>
                        <a href="#" target="_blank">基金定投</a>
                        <a href="#" target="_blank">现金宝</a>
                        <a href="#" target="_blank">基金产品</a>
                    </div>
                </div>
                <a href="#" target="_blank" class="TopLk1">自选基金</a>
                <a href="#" target="_blank" class="TopLk1">关于我们</a>
                <a href="#" target="_blank" class="TopLk1 Mr0">帮助中心</a>
            </div>
        </div>
    </div>
    <!--Top End-->
    <div class="allCnt">
        <div class="qHead">
            <div class="headDes">
                <p>客服电话:<span>400-027-9899</span></p>
                <p>工作日：7:30-21:30 双休日：9:00-21:30</p>
            </div>
            <div class="qLogo">
                <a href="#"><img src="https://trade.buyfunds.cn/front/uc/Imgs/BjCenter/Logo.jpg" title="" /></a>
                <!--<a href="#" class="logoTxt">免费开户</a>-->
            </div>
        </div>
    </div>
    <div class="uMenu">
    	<dl class="MenuCnt">
        	<dt>
            	<a href="#" target="_blank" class="CM">我的帐户</a>
                <a href="#" target="_blank">现金宝</a>
                <a href="#" target="_blank">基金产品</a>
                <a href="#" target="_blank">基金定投</a>
                <a href="#" target="_blank">交易查询</a>
            </dt>
            <dd>
            	<a href="#" target="_blank">我的资产</a>
                <a href="#" target="_blank">持仓明细</a>
                <a href="#" target="_blank">修改密码</a>
                <a href="#" target="_blank" class="AC">个人信息管理</a>
                <a href="#" target="_blank">银行卡管理</a>
                <a href="#" target="_blank">风险测评</a>
            </dd>
            <dd>
            	<a href="#" target="_blank">首页</a>
                <a href="#" target="_blank">充值</a>
                <a href="#" target="_blank">取现</a>
                <a href="#" target="_blank">定期充值</a>
                <a href="#" target="_blank">买基金</a>
                <a href="#" target="_blank">现金定互转</a>
                <a href="#" target="_blank">撤单</a>
                <a href="#" target="_blank">交易查询</a>
            </dd>
            <dd>
            	<a href="#" target="_blank">首页</a>
                <a href="#" target="_blank">基金排行</a>
                <a href="#" target="_blank">买基金</a>
                <a href="#" target="_blank">卖基金</a>
                <a href="#" target="_blank">基金转换</a>
                <a href="#" target="_blank">修改分红方式</a>
                <a href="#" target="_blank">撤单</a>
            </dd>
            <dd class="Tc">
            	<a href="#" target="_blank">我的定投</a>
                <a href="#" target="_blank">新增定投</a>
                <a href="#" target="_blank">撤单</a>
                <a href="#" target="_blank">定投终止记录</a>
            </dd>
            <dd class="Tc">
            	<a href="#" target="_blank">现金宝交易查询</a>
                <a href="#" target="_blank">基金交易查询</a>
                <a href="#" target="_blank">我的对账单</a>
                <a href="#" target="_blank">操作日志</a>
            </dd>
        </dl>
    </div>

    <div class="allCnt Mt20 Cf">
    	<div class="mSide">
        	<h3 class="sideTitle">快速通道</h3>
            <div class="sideMenu">
            	<a href="#" target="_blank" class="AC">我的资产</a>
                <a href="#" target="_blank">持仓明细</a>
                <a href="#" target="_blank">现金宝</a>
                <a href="#" target="_blank">伯嘉精选</a>
                <a href="#" target="_blank">券商理财</a>
                <a href="#" target="_blank">热销基金</a>
                <a href="#" target="_blank">基金排行</a>
                <a href="#" target="_blank">买基金</a>
                <a href="#" target="_blank">卖基金</a>
                <a href="#" target="_blank">买新基金</a>
                <a href="#" target="_blank">自选基金</a>
                <a href="#" target="_blank">基金定投</a>
                <a href="#" target="_blank">基金转换</a>
                <a href="#" target="_blank">交易撤单</a>
                <a href="#" target="_blank">交易查询</a>
                <a href="#" target="_blank">分红设置</a>
            </div>
        </div>
        <div class="aMain">
        	<h3 class="Title5">个人信息管理</h3>
            <form class="formPre">     
            	<div class="formP">
                	<b class="bankPre">真实姓名：</b>
                    <span>李小明</span>
                </div>
                <div class="formP">
                	<b class="bankPre">性别：</b>
                    <span>男</span>
                </div>
                <div class="formP">
                	<b class="bankPre">国籍：</b>
                    <span>中国</span>
                </div>
                <div class="formP">
                	<b class="bankPre">证件类型：</b>
                    <span>身份证</span>
                </div>
                <div class="formP">
                	<b class="bankPre">证件号码：</b>
                    <span>350************088</span>
                </div>
                <div class="formLi">
                	<b class="bankPre">证件有效期：</b>
            		<span><input type="text" value="2017-10-10" class="DateInp w225" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /></span>
                </div>
                <div class="formP">
                	<b class="bankPre">风险承受能力：</b>
                    <span>保守型</span>
                    <a href="#" class="blue" target="_blank">重新评估风险承受能力</a>
                </div>
                <div class="formP">
                	<b class="bankPre">手机号码：</b>
                    <span>150****5563</span>
                    <a href="#" class="blue" target="_blank">修改</a>
                </div>
                <div class="formLi">
                	<b class="bankPre">固定电话：</b>
                    <span><input type="text" class="w225"></span>
                    <em></em>
                </div>
                <div class="formLi">
                	<b class="bankPre">通讯地址：</b>
                    <span><input type="text" class="addr w225"></span>
                    <em></em>
                </div>
                <div class="formLi">
                	<b class="bankPre">邮政编码：</b>
                    <span><input type="text" class="w225"></span>
                    <em></em>
                </div>
                <div class="formLi">
                	<b class="bankPre">电子信箱：</b>
                    <span><input type="text" class="email w225"></span>
                    <em></em>
                </div>
                <div class="formLi">
                	<b class="bankPre">预留信息：</b>
                    <span><input type="text" class="w225"></span>
                    <em>预留信息最大长度为10个字符</em>
                </div>
                <div class="formLi">
                	<b class="bankPre">职业：</b>
                    <span class="FormSlt w225">
                    	<select>
                        	<option>请选择</option>
                            <option>企业高管</option>
                            <option>项目经理</option>
                            <option>业务经理</option>
                        </select>
                    </span>
                </div>
                <div class="formLi">
                	<b class="bankPre">账单寄送频率：</b>
                    <span class="FormSlt w225">
                    	<select>
                        	<option>不寄送</option>
                            <option>每周</option>
                            <option>每月</option>
                            <option>每三个月</option>
                        </select>
                    </span>
                </div>
                <div class="formLi">
                	<b class="bankPre">账单寄送方式：</b>
                    <span class="uChkBox">电子邮件寄送<i><input onClick="emailSend(this)" type="checkbox" value="" /></i></span>
                    <span class="uChkBox">邮件寄送<i><input onClick="addrSend(this);" type="checkbox" value="" /></i></span>
                    <em></em>
                </div>
                <div class="Mt30 Ml150">
                    <a href="javascript:;" onclick="subForm(this);" class="halfBtn">保存</a>
                </div>
            </form>
        </div>
    </div>
    
    <!--Foot Start-->
    <div class="FootPic W1000 Cf Mt20">
        <a href="javascript:;" class="Fpic1"></a>
        <a href="javascript:;" class="Fpic2"></a>
        <a href="javascript:;" class="Fpic3"></a>
        <a href="javascript:;" class="Fpic4"></a>
        <a href="javascript:;" class="Fpic5"></a>
    </div>
    <div class="FootBg Cf">
        <div class="W1000 Footer Cf">
            <div class="Fl Cf">
                <p class="Fp1">武汉市江汉区武汉中央商务区泛海国际SOHO城第7幢23层1号4号</p>
                <p class="Fp1">全国统一客服热线：400 027 9899</p>
                <p class="Fp1">客服邮箱：4000279899@buyfunds.cn</p>
            </div>
            <div class="Fr Cf">
                <span class="FtC1"><img src="http://hs.cnfol.com/ue/Imgs/Buyfunds/Code1.png?v=20161121" />微信二维码</span>
                <span class="FtC2"><img src="http://hs.cnfol.com/ue/Imgs/Buyfunds/Code2.png?v=20161121" />伯嘉微博</span>
            </div>
            <p class="W1p Fp1 Fs1">基金销售业务资格证书[00000375]伯嘉基金网发布此信息目的在于传播更多信息,与本网站立场无关。伯嘉基金网不保证该信息(包含但不限于文字,数据及图表)全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。所载文字、数据仅供参考,使用前请核实,风险自负。投资有风险,交易需谨慎。</p>
            <p class="W1p Fp1 Tc">Copyright © 2004-2016    版权所有：武汉市伯嘉基金销售有限公司<span class="Ml1">鄂ICP备15010765号</span></p>
        </div>
    </div>
	<!--弹窗提示-->
    <div class="qMask"></div>
    <div class="qWin" id="msgBox">
   		<h3><span>提示信息</span><i  class="qCls"></i></h3>
        <div class="qWmess">
        	<p class="red">您已经输错3次密码，还有2次登录机会！</p>
        	<p>为了保护账户安全，若您的账户密码连续输错5次，系统将暂时限制账户登录30分钟。</p>
        </div>
        <div class="qWbtn">
        	<a href="javascript:;" onClick="testCkl()" class="redBtn">确定</a>
        </div>
    </div>
    <!--Foot End-->
    <script type="text/javascript" src="https://trade.buyfunds.cn/f=front/uc/Js/BjCenter/jquery-18.js,front/uc/Js/BjCenter/passGrad.js,front/uc/Js/BjCenter/BjFund.js?v=20161215163056"></script>
    <script type="text/javascript" src="https://trade.buyfunds.cn/front/uc/Js/Calendar/WdatePicker.js"></script>
	<script type="text/javascript">
		$('.MenuCnt').QTab();//菜单滑动效果
		$('.FormSlt').uSelect();/*select美化*/
		$('.uChkBox').uCheckBox()/*chekbox美化*/
		function addrSend(obj){
			if($(obj).is(':checked')){
				if($('.addr').val() == ''){
					$(obj).removeAttr('checked');
					$(obj).parents('.uChkBox').removeClass('Chked');
					$(obj).showTip('Error','请先填写通讯地址!');
				}else{
					$(obj).showTip('Right');
				}
			}
		}
		function emailSend(obj){
			if($(obj).is(':checked')){
				if($('.email').val() == ''){
					$(obj).removeAttr('checked');
					$(obj).parents('.uChkBox').removeClass('Chked');
					$(obj).showTip('Error','请先填写电子邮箱!');
				}else{
					$(obj).showTip('Right');
				}
			}
		}
    </script>
</body>
</html>
