<?php require_once(VIEWPATH . '/common/header.html');?>
<?php require_once(VIEWPATH . '/common/login_nav.html');?>
<?php require_once(VIEWPATH . '/common/reg_banner.html');?>
    <div class="allCnt Mt20">
        <div class="qstepBar">
            <a href="javascript:;">基本资料填写</a>
            <a href="javascript:;">银行卡关联</a>
            <a href="javascript:;" class="Cur">开户成功</a>
        </div>
        <h3 class="Title Tc Mt25">恭喜,开户成功</h3>
        <div class="formLi Mt20 Tc"><a href="<?php echo TRADE_LOGIN_URL; ?>" class="halfBtn">立即登录</a></div>
    </div>
    
    <?php require_once(VIEWPATH . '/common/footer.html');?>
    
</body>
</html>
