<table class="hotTable Mt10" cellpadding="0" cellspacing="0">
<tr>
<td width="10%"><b>1.57%</b><span>近3月涨幅</span></td>
<td width="35%"><p><a href="http://www.buyfunds.cn/fund/151002" target="_blank">银河收益债券</a></p><span>债券型</span></td>
<td width="10%"><p>10元起投</p><span>保本等级</span></td>
<td width="10%"><p><s>1.00%</s><em>1.50%</em></p><span>费率</span></td>
<td width="5%"><a href="https://trade.buyfunds.cn/trade/fundtrade.html?fundcode=151002">购买</a></td>
</tr>
<tr>
<td width="10%"><b>13.82%</b><span>近3月涨幅</span></td>
<td width="35%"><p><a href="http://www.buyfunds.cn/fund/002443" target="_blank">前海开源沪港深龙头精选灵活配置混合</a></p><span>股票型</span></td>
<td width="10%"><p>10元起投</p><span>保本等级</span></td>
<td width="10%"><p><s>1.50%</s><em>1.50%</em></p><span>费率</span></td>
<td width="5%"><a href="https://trade.buyfunds.cn/trade/fundtrade.html?fundcode=002443">购买</a></td>
</tr>
<tr>
<td width="10%"><b>7.45%</b><span>近3月涨幅</span></td>
<td width="35%"><p><a href="http://www.buyfunds.cn/fund/162213" target="_blank">泰达宏利中证财富大盘指数A</a></p><span>指数型</span></td>
<td width="10%"><p>1元起投</p><span>低风险等级</span></td>
<td width="10%"><p><s>1.20%</s><em>1.20%</em></p><span>费率</span></td>
<td width="5%"><a href="https://trade.buyfunds.cn/trade/fundtrade.html?fundcode=162213">购买</a></td>
</tr>
<tr>
<td width="10%"><b>5.83%</b><span>近3月涨幅</span></td>
<td width="35%"><p><a href="http://www.buyfunds.cn/fund/260112" target="_blank">景顺长城能源基建混合</a></p><span>混合型</span></td>
<td width="10%"><p>10元起投</p><span>保本等级</span></td>
<td width="10%"><p><s>1.50%</s><em>1.50%</em></p><span>费率</span></td>
<td width="5%"><a href="https://trade.buyfunds.cn/trade/fundtrade.html?fundcode=260112">购买</a></td>
</tr>
</table>